<div class="container">
  <%= link_to "Home", root_path, class: "btn btn-default" %>
  <%= link_to "Items", items_path, class: "btn btn-default" %>
  <%= link_to "About", pages_About_path, class: "btn btn-default" %>
  <%= link_to "Contact", pages_Contact_path, class: "btn btn-default" %>


</div>
